<div *ngIf="!!((Step|async).title)" style="margin-bottom:10px;margin-left: 20px">
    <span class="ms-font-l">{{(Step|async).title}}</span>
</div>

<div style="margin:20px" [ngSwitch]="(Step | async).type">
    <openTestStep *ngSwitchCase="'Entities.OpenTestStep'" [Step]="Step | async">
    </openTestStep>

    <testStep *ngSwitchCase="'Entities.TestStep'" [Step]="Step | async">
    </testStep>

    <studyStep *ngSwitchCase="'Entities.StudyStep'" [Step]="Step | async">
    </studyStep>

    <controlStep *ngSwitchCase="'Entities.ControlStep'" [Step]="Step | async">
    </controlStep>

    <generatedTestStep *ngSwitchCase="'Entities.GeneratedTestStep'" [Step]="Step | async">
    </generatedTestStep>

    <div *ngSwitchDefault>
        No type!! {{(Step | async).type}}
    </div>
</div>
<button class="btn btn-primary" style="margin:20px" (click)="clickNext()" *ngIf="showNext|async">
    <span class="ms-Button-label" style="color:white">К следующему шагу</span>
</button>