<div>
    <div *ngIf="Step instanceOf AssignmentStep">
        AssignmentStep
        <assignmentStep [Step]="Step"></assignmentStep>
    </div>
    <div *ngIf="Step instanceOf StudyStep">
        StudyStep
        <studyStep [Step]="Step"></studyStep>
    </div>
    <button class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="tryProceed()">
        <span class="ms-Button-label">Debug socket</span>
        <span class="ms-Button-icon">
            <i class="ms-Icon ms-Icon--ChevronRight"></i>
        </span>
    </button>
</div>