<div>
    <div [innerHTML]="Problem|async"></div>

    <ul>
        <ng-container *ngFor="let option of (Answers|async); let i=index">
            <li [ngClass]="{
                'ms-ListItem': true,
                'is-selectable': true,
                'is-selected': isSelected(i)       
            }">
                <span class="ms-ListItem-primaryText">{{option}}</span>
                <div class="ms-ListItem-selectionTarget" (click)="toggle(i)"></div>
            </li>
        </ng-container>
    </ul>

    <button class="ms-Button ms-Button--primary" style="color:white" (click)="tryProceed()" *ngIf="showProceed|async">
        <span class="ms-Button-label">Отправить</span>
    </button>
    <button class="btn btn-success" style="color:white" disabled (click)="tryProceed()" *ngIf="!(showProceed|async)">
        <span class="ms-Button-label">Отправить</span>
    </button>
</div>

<script type="text/javascript">
    var TextFieldElements = document.querySelectorAll(".ms-TextField");
    for (var i = 0; i < TextFieldElements.length; i++) {
        new fabric['TextField'](TextFieldElements[i]);
    }

    var ListElements = document.querySelectorAll(".ms-List");
    for (var i = 0; i < ListElements.length; i++) {
        new fabric['List'](ListElements[i]);
    }

    var ListItemElements = document.querySelectorAll(".ms-ListItem");
    for (var i = 0; i < ListItemElements.length; i++) {
        new fabric['ListItem'](ListItemElements[i]);
    }
</script>