<div class="ms-Callout ms-Callout--arrowLeft">
    <div class="ms-Callout-main">
        <div class="ms-Callout-header">
            <span class="ms-Callout-title">{{(Course | async).title}}</span>
        </div>
        <div class="ms-Callout-inner">
            <div class="ms-Callout-content">
                <p class="ms-Callout-subText">{{(Course | async).description}}</p>
            </div>
            <div class="ms-Callout-actions">
                <button class="ms-Callout-action ms-Button ms-Button--command" (click)="SelectCourse()">
                    <span class="ms-Callout-actionText ms-Button-icon">
                        <i class="ms-Icon ms-Icon--check"></i>
                    </span>
                    <span class="ms-Button-label">Выбрать</span>
                </button>
            </div>
        </div>
    </div>
</div>