<router-outlet>
    <button class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" [routerLink]="['/socket']">
        <span class="ms-Button-label">Run</span>
        <span class="ms-Button-icon">
            <i class="ms-Icon ms-Icon--ChevronRight"></i>
        </span>
    </button>
    <button class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" [routerLink]="['/courseList']">
        <span class="ms-Button-label">Run</span>
        <span class="ms-Button-icon">
            <i class="ms-Icon ms-Icon--ChevronRight"></i>
        </span>
    </button>
</router-outlet>